body{ 
    padding: 1%;
    background-color:#fcc9da;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
   
}
h1{ 
    color:white;
 }
 h2{
  color: white;
 }

 nav{
     margin-top:-50px;
    background:#680057;
    height: 80px;
    width: 100%;
    padding-left: 10px;

}
h1 label.logo {
    color: white;
    font-size:40px;
    line-height: 80px;
    padding: 5px;
    font-weight: bold;
    float:left;
   

}
h2 label.logo {
    color: white;
    font-size:20px;
    line-height: 80px;
    font-weight: bold;
    float:left;
    padding: 10px;

}

nav ul{
    float:right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin:0 5px;

}
nav ul li a{
    color:lawngreen;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  
}
a.active,a:hover{
    background:#8f003b;
    transition: 1s;

}
div{
    padding: 3%;
    float: right;
  
}

.image{
    width: 90%;
    margin: 10% auto;
    margin-top: -1%;
    padding-left: 10%;
    margin-left: 20%;
    margin-right:  2%;
 
}

img{
    width: 100%;
    
  
}
 
